<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的博客</title>
	<link rel="stylesheet" href="lb/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/detail.css">
</head>
<body>
<nav class="navbar navbar-default kz-navbar navbar-fixed-top" id="kz-navbar">
  	<div class="container">
	    <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
	        <a class="navbar-brand" href="#">我的博客</a>
	    </div>
	    <div class="collapse navbar-collapse" id="top-nav">
		    <ul class="nav navbar-nav">
		        <li class="active"><a href="index.html">首页</a></li>
		        <li><a href="list.html">HTML/CSS</a></li>
		        <li><a href="list.html">JavaScript</a></li>
		        <li><a href="list.html">学无止境</a></li>
		        <li><a href="list.html">我的足迹</a></li>
		    </ul>
	    </div>
  	</div>
</nav>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default custom-panel detail-content">
				    <div class="panel-heading">
				    	<h3 class="panel-title">响应式布局是在2010年5月份提出的一个概念</h3>
				    	<p class="sub-title">
					    	<span class="text-muted">HTML/CSS</span>
					    	<span class="text-muted">2018-10-12</span>
					    	<span class="text-muted"><em>1000</em>人已阅读</span>
				    	</p>
				    </div>
				    <div class="panel-body">
				    	<div class="well">
				    		<strong>简介</strong>: 响应式布局是Ethan Marcotte在2010年5月份提出的一个概念，简而言之，就是一个网站能够兼容多个终端--而不是为每个终端做一个特定的版本。
				    	</div>
				    	<p> 响应式布局是Ethan Marcotte在2010年5月份提出的一个概念，简而言之，就是一个网站能够兼容多个终端--而不是为每个终端做一个特定的版本。 响应式布局是Ethan Marcotte在2010年5月份提出的一个概念，简而言之，就是一个网站能够兼容多个终端--而不是为每个终端做一个特定的版本。</p>
				  </div>
				</div>
			</div>
			<div class="col-md-4 hidden-xs hidden-sm">
				<div class="ad">
					<a href="#" class="thumbnail">
						<img src="img/ad/1.jpg" class="img-responsive" alt="Responsive image">
					</a>
				</div>
				<div class="ad">
					<a href="#" class="thumbnail">
						<img src="img/ad/2.jpg" class="img-responsive" alt="Responsive image">
					</a>
				</div>
				<div class="panel panel-default custom-panel">
					<div class="panel-heading">
					    <h3 class="panel-title">博主介绍</h3>
					</div>
				    <div class="panel-body">
				    	<div class="media">
					  		<div class="media-left">
							    <a href="#">
							      	<img class="media-object img-circle about-mi-img" src="img/mi/mi.jpg" alt="mi.jpg">
							    </a>
					  		</div>
						    <div class="media-body">
						    	<h4 class="media-heading">tom</h4>
						    	响应式布局是Ethan Marcotte在2010年5月份提出的一个概念，简而言之，就是一个网站能够兼容多个终端--而不是为每个终端做一个特定的版本。
						    </div>
						</div>
				    </div>
				</div>
				<div class="panel panel-default custom-panel hot-list">
				    <div class="panel-heading">
				    	<h3 class="panel-title">点击排行</h3>
				  	</div>
				    <div class="panel-body">
					    <ul class="list-group">
							<li class="list-group-item"><a href="#" class="link text-ellipsis">响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验</a></li>
						    <li class="list-group-item"><a href="#" class="link text-ellipsis">响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验</a></li>
						    <li class="list-group-item"><a href="#" class="link text-ellipsis">响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验</a></li>
						    <li class="list-group-item"><a href="#" class="link text-ellipsis">响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验</a></li>
						    <li class="list-group-item"><a href="#" class="link text-ellipsis">响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验</a></li>
						    <li class="list-group-item"><a href="#" class="link text-ellipsis">响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验</a></li>
						</ul>
				    </div>
				</div>
				<div class="panel panel-default custom-panel">
				    <div class="panel-heading">
				    	<h3 class="panel-title">关注我</h3>
				  	</div>
				  	<div class="panel-body">
				    	<img src="img/chart/1.jpg" alt="1.jpg" class="img-responsive">
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<p>
		响应式布局是<a href="#">Ethan Marcotte</a><a href="#">在2010年5月份提出的一个概念</a>
	</p>
</footer>
</body>
<script src="lb/jQuery/jquery-1.12.4.min.js"></script>
<script src="lb/bootstrap/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
</html>