{% extends './layout.html' %}
{% block title %} list {% endblock %}

{% block content %}
<div class="panel panel-default content-item">
<div class="panel-heading">
	<h3 class="panel-title">
		<a href="#" class="link">移动设备优先</a>
	</h3>
</div>
<div class="panel-body">
	响应式布局是Ethan Marcotte在2010年5月份提出的一个概念，简而言之，就是一个网站能够兼容多个终端--而不是为每个终端做一个特定的版本。这个概念是为解决移动互联网浏览而诞生的。响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验，而且随着目前大屏幕移动设备的普及，用"大势所趋"来形容也不为过。随着越来越多的设计师采用这个技术，我们不仅看到很多的创新，还看到了一些成形的模式。
</div>
<div class="panel-footer">
	<span class="glyphicon glyphicon-user"></span>
	<span class="panel-footer-text text-muted">Tom</span>
	<span class="glyphicon glyphicon-th-list"></span>
	<span class="panel-footer-text text-muted">JavaScript</span>
	<span class="glyphicon glyphicon-time"></span>
	<span class="panel-footer-text text-muted">2018-07-01</span>
	<span class="glyphicon glyphicon-eye-open"></span>
	<span class="panel-footer-text text-muted"><em>1000</em>已阅读</span>
</div>
</div>
<div class="panel panel-default content-item">
	<div class="panel-heading">
    	<h3 class="panel-title">
    		<a href="#" class="link">移动设备优先</a>
    	</h3>
	</div>
	<div class="panel-body">
    	响应式布局是Ethan Marcotte在2010年5月份提出的一个概念，简而言之，就是一个网站能够兼容多个终端--而不是为每个终端做一个特定的版本。这个概念是为解决移动互联网浏览而诞生的。响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验，而且随着目前大屏幕移动设备的普及，用"大势所趋"来形容也不为过。随着越来越多的设计师采用这个技术，我们不仅看到很多的创新，还看到了一些成形的模式。
	</div>
	<div class="panel-footer">
		<span class="glyphicon glyphicon-user"></span>
		<span class="panel-footer-text text-muted">Tom</span>
		<span class="glyphicon glyphicon-th-list"></span>
		<span class="panel-footer-text text-muted">JavaScript</span>
		<span class="glyphicon glyphicon-time"></span>
		<span class="panel-footer-text text-muted">2018-07-01</span>
		<span class="glyphicon glyphicon-eye-open"></span>
		<span class="panel-footer-text text-muted"><em>1000</em>已阅读</span>
	</div>
</div>
<div class="panel panel-default content-item">
	<div class="panel-heading">
    	<h3 class="panel-title">
    		<a href="#" class="link">移动设备优先</a>
    	</h3>
	</div>
	<div class="panel-body">
    	响应式布局是Ethan Marcotte在2010年5月份提出的一个概念，简而言之，就是一个网站能够兼容多个终端--而不是为每个终端做一个特定的版本。这个概念是为解决移动互联网浏览而诞生的。响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验，而且随着目前大屏幕移动设备的普及，用"大势所趋"来形容也不为过。随着越来越多的设计师采用这个技术，我们不仅看到很多的创新，还看到了一些成形的模式。
	</div>
	<div class="panel-footer">
		<span class="glyphicon glyphicon-user"></span>
		<span class="panel-footer-text text-muted">Tom</span>
		<span class="glyphicon glyphicon-th-list"></span>
		<span class="panel-footer-text text-muted">JavaScript</span>
		<span class="glyphicon glyphicon-time"></span>
		<span class="panel-footer-text text-muted">2018-07-01</span>
		<span class="glyphicon glyphicon-eye-open"></span>
		<span class="panel-footer-text text-muted"><em>1000</em>已阅读</span>
	</div>
</div>
<div class="panel panel-default content-item">
	<div class="panel-heading">
    	<h3 class="panel-title">
    		<a href="#" class="link">移动设备优先</a>
    	</h3>
	</div>
	<div class="panel-body">
    	响应式布局是Ethan Marcotte在2010年5月份提出的一个概念，简而言之，就是一个网站能够兼容多个终端--而不是为每个终端做一个特定的版本。这个概念是为解决移动互联网浏览而诞生的。响应式布局可以为不同终端的用户提供更加舒适的界面和更好的用户体验，而且随着目前大屏幕移动设备的普及，用"大势所趋"来形容也不为过。随着越来越多的设计师采用这个技术，我们不仅看到很多的创新，还看到了一些成形的模式。
	</div>
	<div class="panel-footer">
		<span class="glyphicon glyphicon-user"></span>
		<span class="panel-footer-text text-muted">Tom</span>
		<span class="glyphicon glyphicon-th-list"></span>
		<span class="panel-footer-text text-muted">JavaScript</span>
		<span class="glyphicon glyphicon-time"></span>
		<span class="panel-footer-text text-muted">2018-07-01</span>
		<span class="glyphicon glyphicon-eye-open"></span>
		<span class="panel-footer-text text-muted"><em>1000</em>已阅读</span>
	</div>
</div>
<nav aria-label="Page navigation" id="page">
    <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	        <a href="#" aria-label="Next">
	        	<span aria-hidden="true">&raquo;</span>
	        </a>
	    </li>
    </ul>
</nav>
{% endblock %}