<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>许愿墙</title>
	<link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
	<div class="wall">
		{% for data in data %}
		<div class="wish" style='background:{{ data.color }}'>
			<a href="JavaScript:;" class="close" data-id="{{ data.id }}"></a>{{ data.content }}
		</div>
		{% endfor %}
<!-- 		<div class="wish" style='background:"yellow"'>
	<a href="JavaScript:;" class="close" data-id="22"></a>22
</div> -->
	</div>
	<div class="form-box">
		<div>
			<textarea name="content" id="content" cols="30" rows="30"></textarea>
		</div>
		<div>
			<a href="JavaScript:;" class="sub-btn">许下心愿</a>
		</div>
	</div>
</body>
<script src="../../static/lib/jQuery/jquery-1.12.4.min.js"></script>
<script src="../../static/lib/jquery.pep.js-master/src/jquery.pep.js"></script>
<script src="../../static/js/index.js"></script>
</html>